<%- include("../user/layout/header") %>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>



    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Checkout</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Checkout Start -->
    
        <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">delivery Address</h4>
<%if(add[0]){%>
  
                    <p><%=add[0].name%></p>
                    <p>mob:<%=add[0].mobileNumber%></p>
                    <p><%=add[0].address%>,<%=add[0].locality%></p>
                    <p><%=add[0].cityDistrictTown%>,<%=add[0].state%></p>
                    <p><%=add[0].country%>,<%=add[0].pinCode%></p>
                    <p>LandMark:<%=add[0].landmark%></p>
                    <hr style="height:1px;border:none;color:#333;background-color:#333;" >
                    <%}else{%>
                      
                    <p>please add address</p>
                    <hr style="height:1px;border:none;color:#333;background-color:#333;" >
                    

  <%}%>

                    <div class="row">
                    <!-- Button trigger modal -->
                    <div class="mt-5 text-center"> <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        Add new address
                      </button></div>
                      
                      <!-- Modal -->
                      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="staticBackdropLabel">Add new address</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                
                                    <div class="p-3 py-5">
                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                            <h4 class="text-right">Profile Settings</h4>
                                        </div>
                                        <!-- <div class="row mt-2">
                                            <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" placeholder="first name" value=""></div>
                                            <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" value="" placeholder="surname"></div>
                                        </div> -->
                                        <form action="/add_addresscheckout" method="post">
                                        <div class="row mt-3">
                                            <div class="col-md-12"><label class="labels">Name</label><input name='name' type="text" class="form-control" placeholder="enter Name" value=""></div>
                                            <div class="col-md-12"><label class="labels">Mobile number</label><input name="mobile" type="text" class="form-control" placeholder="enter Your Mobile number" value=""></div>
                                            <div class="col-md-12"><label class="labels">Pincode</label><input name="pincode" type="text" class="form-control" placeholder="enter Your Pincode" value=""></div>
                                            <div class="col-md-12"><label class="labels">Locality</label><input name="locality" type="text" class="form-control" placeholder="enter Your Locality" value=""></div>
                                            <div class="col-md-12"><label class="labels">Address</label><input name="address" type="text" class="form-control" placeholder="enter Your Address" value=""></div>
                                             <div class="col-md-12"><label class="labels">City/District/Town</label><input name="city" type="text" class="form-control" placeholder="enter Your City/District/Town" value=""></div>
                                            
                                            <div class="col-md-12"><label class="labels">Landmark</label><input name="landmark" type="text" class="form-control" placeholder="Landmark" value=""></div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-md-6"><label class="labels">State</label><input name="state" type="text" class="form-control" placeholder="State" value=""></div>
                                            <div class="col-md-6"><label class="labels">Country</label><input name="country" type="text" class="form-control" value="" placeholder="Country"></div>
                                        </div>
                                        <div class="mt-5 text-center"><button data-bs-dismiss="modal" class="btn btn-primary profile-button" type="submit">Add new address</button></div>
                                        </form>
                                    </div>
                                
                            </div>
                            <div class="modal-footer">
                              
                            </div>
                          </div>
                        </div>
                      </div>
                    


            <!-- Button trigger modal -->
            <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#staticBackdro">
                change address
              </button>
              
              <!-- Modal -->
              <div class="modal fade" id="staticBackdro" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">change address</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        
                            
                        <% for(var i=0; i<address1.length; i++) { %>

                        <table class="table">
                            
                            <tbody>
                              <tr>
                                
                                <td><%=address1[i].name%><br><%=address1[i].mobileNumber%><br><%=address1[i].address%>,<%=address1[i].locality%>,<%=address1[i].cityDistrictTown%><br><%=address1[i].landmark%>,<%=address1[i].state%>,<%=address1[i].country%><br><%=address1[i].pincode%><br>
                                <button data-bs-dismiss="modal" class="btn btn-success" onclick="submit('<%=address1[i]._id%>')">select</button>
                                </td>
                              </tr>
                              
                            </tbody>
                          </table>
                          <%}%>

                    </div>
                    <div class="modal-footer">
                      <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Understood</button> -->
                    </div>
                  </div>
                </div>
              </div>


                    </div>
                </div>
            </div>
            
            <div class="col-lg-4">
             
              <div class="card border-secondary mb-5">
            
                <div class="input-group">
                    <input type="text" class="form-control p-4" id="result" placeholder="Coupon Code">
                    <div class="input-group-append">
                        <button class="btn btn-primary" onclick="verifyCoupon('<%=subtotal%>')" >Apply Coupon</button>
                    </div>
                </div>
                <form class="row contact_form" id="formId" onclick="return validateAddPRoducts()" >
                <div class="card-body">
                    <div class="form-group">
                        <p>applicable coupons</p>
                        <% for(var i=0; i<coupon.length; i++) { %>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="couponCode" value="<%=coupon[i].code%>" id="<%=coupon[i].code%>">
                           
                            <label  id="paypal-button-container" class="custom-control-label" for="<%=coupon[i].code%>"><%=coupon[i].code%></label>
                            <p><%=coupon[i].description%></p>
                          
                        </div>
                        <%}%>
                    </div>
                </div>
                <p style="color: red;" id="CouponError"></p>
                <!-- <p style="color: red;" id="CouponError1"></p> -->
           
            </div>
            
           


                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Products</h5>
                        <% for(var i=0; i<product.length; i++) { %>
                        <div class="d-flex justify-content-between">
                            <p><%=product[i].product.title%></p>
                            <p><%=product[i].total%></p>
                        </div>
                        <%}%>
                        <!-- <div class="d-flex justify-content-between">
                            <p>Colorful Stylish Shirt 2</p>
                            <p>$150</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p>Colorful Stylish Shirt 3</p>
                            <p>$150</p>
                        </div> -->
                        <hr class="mt-0">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium"><%=subtotal%></h6>
                        </div>
                        <!-- <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">$10</h6>
                        </div> -->
                        <div class="d-flex justify-content-between mb-3 pt-1">
                          <h6 class="font-weight-medium">Coupon Discount</h6>
                          <h6 class="font-weight-medium"><span id="couponDiscount"> nil</span></h6>
                      </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold"><span id="grandTotalAmount"><%=subtotal%></span></h5>
                            <input name="total" hidden id="grandtotalinput"value="<%=subtotal%>" >
                        </div>
                    </div>
                </div>
              
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Payment</h4>
                    </div>
                    <div class="card-body">
                        <!-- <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="paymentMethod"value="paypal" id="paypal">
                                <label  id="paypal-button-container" class="custom-control-label" for="paypal">Paypal</label>
                            </div>
                        </div> -->
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" value="razorpay" name="paymentMethod" id="razorpay">
                                <label  class="custom-control-label" for="razorpay">Razorpay</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="paymentMethod" value="cash on delivery" id="cash on delivery">
                                <label class="custom-control-label" for="cash on delivery">Direct Check</label>
                            </div>
                        </div>
                        <div class="form-group">
                          <div class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" name="paymentMethod" value="wallet" id="wallet">
                              <label class="custom-control-label" for="wallet">Through Wallet(balance:<%=users.walletBalance%>)</label>
                          </div>
                      </div>
                        <!-- <div class="form-group">
                          <div  id="paypal-button-container"></div>
                      </div> -->
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3" type="submit">Place Order</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
        
    </div>
    <!-- Checkout End -->



    <script>
      let radioBtns=document.querySelectorAll("input[name='couponCode']");
      let result=document.getElementById('result').value
let findSelected=()=>{
  let selected =document.querySelector("input[name='couponCode']:checked")
  console.log('sadsda');
  console.log(selected.value);
  document.getElementById('result').value=selected.value

}


      radioBtns.forEach(redioBtn=>{
        redioBtn.addEventListener("change",findSelected);
})
    </script>
<script>

const submit=(id)=>{
    axios.get('/submitAddress',{params:{id:id}})
}



function verifyCoupon(subtotal){
  let couponCode = document.getElementById("result").value;
    let total = subtotal;
    console.log(total);
if(couponCode==0){
  document.getElementById("CouponError").style.color = "red";
      document.getElementById("CouponError").innerHTML = "Enter a Coupon Code";
}else{
 
  $.ajax({
    url:'/applycoupon',
    method:'post',
    data:{total,couponCode},
    success:(response)=>{
      if(response.status==true){
        // document.getElementById('CouponError1').style='display.none'
        console.log(response.cutOff+',,,,,'+response. grandtotal);
        document.getElementById("couponDiscount").innerHTML =
              "Rs." + response.cutOff;
            document.getElementById("grandTotalAmount").innerHTML =
            response. grandtotal;
            document.getElementById("grandtotalinput").value =
            response. grandtotal;
      }else{
        document.getElementById("CouponError").innerHTML =
              response.couponmsg;
      }
    }
  })
}
}


</script>







<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
 
<script>

let couponCode = document.getElementById("result").value;

    let userOrederData
    document.getElementById('formId').submit((e)=>{
        e.preventDefault();
        console.log("sadfssdfdsfdfsfds");

        $.ajax({
            url:"/checkout",
            method:"post",
            data:$("#formId").serialize(),couponCode,
            success:(response)=>{
              
              if(response.message1){
              
                Swal.fire({
  position: 'top-end',
  icon: 'error',
  title: 'Must choose address',
  showConfirmButton: false,
  timer: 1000
})
              return;              }

              if(response.message){
                alert(response.message);
              return;              }
              if(response.message2){
              
                Swal.fire({
  position: 'top-end',
  icon: 'error',
  title: 'wallet balnce is zero',
  showConfirmButton: false,
  timer: 1000
})

              }
              
                if (response.cashOnDelivery||response.wallet) {
                   
                    Swal.fire({
  title:  "Order Placed Successfully",
  icon: 'success',
  showDenyButton: true,
  showCancelButton: false,
  confirmButtonText: 'View Order',
  denyButtonText: `Continue shopping`,
}).then((result) => {
  /* Read more about isConfirmed, isDenied below */
  if (result.isConfirmed) {
    location.href='/myorders'
  } else if (result.isDenied) {
    location.href='/'
  }
})
                }else if(response.razorpay){
                   
                 
                    let razorpayOrderData = response.orderdata
                    userOrderData = response.userOrderData;
                    ordertotal=response.ordertotal
                    orderId=response.orderId
                    couponId=response.couponId
                   
                    
                    var options = {
            key: "rzp_test_Y6oXi9eOlkktxd", // Enter the Key ID generated from the Dashboard
            amount:response.orderdata.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            currency: "INR",
            name: "E shopper",
            description: "Test Transaction",
            image: "https://example.com/your_logo",
            order_id:response.orderdata.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            handler: function (response) {
              console.log(response );
            //  alert(response.razorpay_payment_id);
            //   alert(response.razorpay_order_id);
            //   alert(response.razorpay_signature); 
              verifyPayment(response );
            },
            prefill: {
              name: "Gaurav Kumar",
              email: "gaurav.kumar@example.com",
              contact: "9999999999",
            },
            notes: {
              address: "Razorpay Corporate Office",
            },
            theme: {
              color: "#3399cc",
            },
        }

        console.log(options);
        var rzpl = new Razorpay(options);
          rzpl.on("payment.failed", function (response) {
            paymentFailed(response);
          });
          rzpl.open();



                }
            }
        })
    })

  


    function verifyPayment(razorpayOrderData) {
    console.log(razorpayOrderData);
   
    $.ajax({
      url: "/verifyPayment",
      data: {
        
        razorpayOrderData,
        userOrderData,
        ordertotal,orderId,couponId
      },
      method: "post",
     
      success: (response) => {
        if (response.status) {
          Swal.fire({
            title: "Order Placed Successfully",
            icon: "success",
            showDenyButton: true,
            confirmButtonText: "View Order",
            denyButtonText: `Continue Shopping`,
            toast: true,
          }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
              location.href = "/myOrders";
            } else if (result.isDenied) {
              location.href = "/";
            }
          });
        }
      },
    });
  }


  function paymentFailed(response) {
    $.ajax({
      url: "/paymentFailed",
      data: response,
      method: "post",
      success: (response) => {
        if (response.status) {
          Swal.fire({
            title: "Payment Failed !",
            icon: "error",
            showDenyButton: false,
            toast: true,
          }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
              location.href = "/";
            } else if (result.isDenied) {
              location.href = "/";
            }
          });
        }
      },
    });
  }


</script>




<%-include("../user/layout/footer")%>