<%- include("../user/layout/header") %>

    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Our Shop</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Shop</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Shop Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-12">
                <!-- Price Start -->
                <div class="border-bottom mb-4 pb-4">
                    <h5 class="font-weight-semi-bold mb-4">Filter by Category</h5>
                    <a href="/shop"><button type="button" class="btn btn-link">All</button></a>
                    <% for(var i=0; i < category.length; i++) { %>

                    <button type="button" class="btn btn-link" onclick="category('<%=category[i]._id%>')"><%=category[i].name%></button>
                    <%}%>


                    <!-- <form>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input onclick="categoryall()" type="checkbox" class="custom-control-input" checked id="categoryAll">
                            <label class="custom-control-label" for="price-all">All Price</label>
                            <span class="badge border ">1000</span>
                        </div>
                        <% for(var i=0; i<category.length; i++) { %>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox"onclick="categoryOnClick()" value="<%=category[i]._id%>" class="custom" name="categories" id="<%=category[i].name%>">
                            <label class="custom-control-label" for="<%=category[i].name%>"><%=category[i].name%></label>
                            <span class="badge border ">152</span>
                        </div>
                        <%}%> -->
                        
                </div>
                <!-- Price End -->
                
                
            </div>
            <!-- Shop Sidebar End -->


            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-12" >
                <div class="row pb-3" id="tbody">
                    <div class="col-12 pb-1">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <form action="/searchproduct"  method="POST">
                                <div class="input-group">
                                    <input type="text"name='product' class="form-control" placeholder="Search by name">
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-transparent text-primary">
                                            <button type="submit"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                            <div class="dropdown ml-4">
                                <button class="btn border dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                            Sort by
                                        </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">
                                    <a class="dropdown-item" href="#">Latest</a>
                                    <a class="dropdown-item" href="#">Popularity</a>
                                    <a class="dropdown-item" href="#">Best Rating</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <% for(var i=0; i<product.results.length; i++) { %>
                       
                    <div class="col-lg-4 col-md-6 col-sm-12 pb-1 row"  > 
                        <div class="card product-item border-0 mb-4" >
                            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                <img class=" mx-auto d-block" width="200" height="300"src="/image<%= product.results[i].imageurl[0].filename %>" alt="">
                            </div>
                            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                <h6 class="text-truncate mb-3"><%=product.results[i].title%></h6>
                                <div class="d-flex justify-content-center">
                                    <%if(product.results[i].offerPrice){%>
                                        <h6>$<%=product.results[i].offerPrice %></h6><h6 class="text-muted ml-2"><del>$<%=product.results[i].price %></del></h6>
                                        <%}else{%>
                                            <h6>$<%=product.results[i].price %></h6><h6 class="text-muted ml-2"><del></del></h6>
                                            <%}%>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between bg-light border">
                                <button class="btn btn-sm text-dark p-0"> <a href="/details/<%=product.results[i]._id%>" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a></button>
                                <button  class="btn btn-sm text-dark p-0"onclick="addToCart('<%=product.results[i]._id%>','<%=product.results[i].price%>','<%=product.results[i].offerPrice%>')"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</button>
                            </div>
                            
                        
                    </div>
                    </div>
                    <%}%>

                    
                    <div class="col-12 pb-1">
                       <%if(pagination==true){%>
                        <nav aria-label="Page navigation">
                          <ul class="pagination justify-content-center mb-3">
                            <% if (product.previous) { %>
                            <li class="page-item ">
                              <a class="page-link" href="/shop?page=<%=product.previous.page%>&limit=<%=product.previous.limit%>" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                              </a>
                            </li>
                            <%}%>
                            
                            <li class="page-item active"><a class="page-link border-right" href="#"> <%= product.current.page %></a></li>
                          
                            <% if (product.next) { %>
                            <li class="page-item">
                              <a class="page-link" href="/shop?page=<%=product.next.page %>&limit=<%=product.next.limit%>" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                              </a>
                            </li>
                            <%}%>
                          </ul>
                        </nav>
                        <%}%>
                    </div>
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


    <script>
    function addToCart(proId,price,offPrice){
        
        $.ajax({
            url:'/add-to-cart',
            data:{proId:proId,price:price,offPrice:offPrice},
            method:'POST',
            success:(response)=>{
                console.log(response);
                if(response.stock){
                    console.log('jhjkfgjfgjkfgjkfgjkjkfg');
                    Swal.fire({
  position: 'top',
  icon: 'success',
  title: 'item added to cart',
  showConfirmButton: false,
  timer: 1500
})
                }else{
                    console.log('jhdrhifghifghifgihfgihfghifghifghifghifghihihifhifhi');
                    Swal.fire({
  position: 'top',
  icon: 'warning',
  title: 'item out of cart',
  showConfirmButton: false,
  timer: 1500
})
                }

            }
        })
    }

function category(id){
    axios.patch('/categorySelecting',{id:id}).then((e)=>{
        
        let html
        let data=e.data.product
    
        for(i=0;i<data.length;i++){
            html+=`    
            <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                        
                        <div class="card product-item border-0 mb-4" >
                            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                <img class=" mx-auto d-block" width="200" height="300"src="/image${data[i].imageurl[0].filename}" alt="">
                            </div>
                            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                <h6 class="text-truncate mb-3">${data[i].title}</h6>
                                <div class="d-flex justify-content-center">
                                    <h6>$${data[i].price }</h6><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between bg-light border">
                                <button class="btn btn-sm text-dark p-0"> <a href="/details/${data[i]._id}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a></button>
                                <button  class="btn btn-sm text-dark p-0"onclick="addToCart('${data[i]._id}','${data[i].price}')"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</button>
                            </div>
                    </div>
                    </div>
            `
        }
     document.getElementById('tbody').innerHTML = html




    })
}


















































function categoryOnClick(){
    $("#categoryAll").prop("checked",false);
let allCheckBox=document.getElementById('categoryAll')
allCheckBox.disabled=false
const markedCheckBox=document.getElementsByName('categories')
let values=[]
for(var checkbox of markedCheckBox){
if(checkbox.checked){
    values.push(checkbox.value)
}
}
console.log(values);


$.ajax({
    url:`/categoryFilter/?tags=${values}`,
    method:'get',
    success:(response)=>{
    let filterArea=document.getElementById('filterArea')
    let html=null
    console.log(response.products);
    let products=response.products
    products.forEach(element => {
    if(html==null){
        html=`
                        <div class="card product-item border-0 mb-4" >
                            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                <img class=" mx-auto d-block" width="200" height="300"src="/image${ element.imageurl[0].filename }" alt="">
                            </div>
                            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                <h6 class="text-truncate mb-3">${element.title}</h6>
                                <div class="d-flex justify-content-center">
                                    <h6>${element.price}</h6><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between bg-light border">
                                <button class="btn btn-sm text-dark p-0"> <a href="/details/${element._id}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a></button>
                                <button  class="btn btn-sm text-dark p-0"onclick="addToCart('${element._id}','${element.price}')"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</button>
                            </div>
                            
                        </div>
                    `
                }else{
                    html+=`
                        <div class="card product-item border-0 mb-4" >
                            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                <img class=" mx-auto d-block" width="200" height="300"src="/image${ element.imageurl[0].filename }" alt="">
                            </div>
                            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                <h6 class="text-truncate mb-3">${element.title}</h6>
                                <div class="d-flex justify-content-center">
                                    <h6>${element.price}</h6><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between bg-light border">
                                <button class="btn btn-sm text-dark p-0"> <a href="/details/${element._id}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a></button>
                                <button  class="btn btn-sm text-dark p-0"onclick="addToCart('${element._id}','${element.price}')"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</button>
                            </div>
                            
                        </div>
                   `}
                
                })
                filterArea.innerHTML=html


    }
})
}


function categoryall(){
        $("#categoryAll").prop("checked",false);
        let allCheckBox=document.getElementById('categoryAll')
         allCheckBox.disabled=false
        $.ajax({
            url:'/CategoryAll',
        method:'get',
        success:(response)=>{
            let filterArea= document.getElementById('filterArea')
               let html=null
               products=response
               console.log(products);

        }
        })
}





    </script>

    <%-include("../user/layout/footer")%>